.section {
    margin: 20px auto;
    max-width: 900px;
    background-color: white;
    padding: 10px;
}

.section__div {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
    border-bottom: 1px solid gray;
}

.section__button {
    color: hsl(180, 100%, 25%);
    background: none;
    border: none;
}

.section__button:hover {
   color: hsl(180, 100%, 30%);;
}

.section__button:active {
    outline: none;
}

.section__button--hidden {
    display: none;
}

.section__button--disabled {
    pointer-events: none;
    color: #ccc;
}